* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main-container {
  width: 1000px;
  height: 700px;
  margin: 60px auto;
  border: darkblue solid 5px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.left-container-player--0,
.right-container-player--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left-container-player--0 {
  background: linear-gradient(to bottom, white, darkblue, white);
  margin: 5px 0 5px 5px;
  border-radius: 20px 0 0 20px;
}
.right-container-player--1 {
  margin: 5px 5px 5px 0;

  border-radius: 0 20px 20px 0;
}
.img-box {
  width: 150px;
  height: 150px;
  background-color: #e85968;
  border: darkblue solid 4px;
  border-radius: 10px;
}
.dice-photo {
  padding: 5px;
}

.score-box {
  width: 150px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: darkblue solid 4px;
  border-radius: 10px;
}
.score-text {
  font-size: 36px;
  text-transform: uppercase;
  padding: 0 50% 0 50%;
  color: #e85968;
  border-bottom: darkblue solid 5px;
  border-radius: 10px;
  text-shadow: darkblue 1px 2px 2px;
  letter-spacing: 3px;
}
.score {
  font-size: 52px;
  color: #e85968;
  text-shadow: darkblue 1px 2px 2px;
  letter-spacing: 3px;
}

.roll-guess-newgame-box {
  width: 200px;
  height: 300px;
  background-color: #f6e96f3a;
  border: #e85968 solid 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 200px;
  left: 396px;
}
.btn-roll,
.btn-newgame {
  width: 80px;
  height: 80px;
  border: darkblue solid 3px;
  border-radius: 100px;
  background-color: white;
  color: #e85968;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: darkblue 1px 2px 2px;
  letter-spacing: 3px;
}
.btn-roll:hover,
.btn-newgame:hover {
  background-color: #e85968;
  color: white;
}
.guess-number {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-size: 40px;
  padding-left: 30px;
  border: darkblue solid 3px;
}
