/* colors
greylight #f1f3f5 
greylighter #f8f9fa
 mainblue #1864ab
 greenLighter #c3fae8
 greenLight #96f2d7
 greenDarker #63e6be
 text #212529

*/

/*right container*/
* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 30px;
  font-family: "Roboto";
  color: #212529;
}
.main-container {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
}
.left-container {
  background-color: #f8f9fa;
  width: fit-content;
  border-radius: 30px 0 0 30px;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-logo {
  width: 36px;
  color: #63e6be;
  padding: 3px;
}
.nav-group {
  display: flex;
  align-items: center;
  margin: 30px 0 80px 62px;
}
h3 {
  font-size: 30px;
  margin-left: 3px;
}
.nav-box {
  display: flex;
}
.nav-list {
  width: 650px;
  display: flex;
  justify-content: start;
  margin-left: 36px;
  list-style: none;
}

a {
  text-decoration: none;
  margin-left: 40px;
  color: #212529;
  font-size: 16px;
  font-weight: bold;
}
a:hover{
  color: #1864ab;
 text-decoration-line:underline;
 
}


.tittle-container {
  margin-left: 152px;
  margin-bottom: 98px;
}
.tittle-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.star-logo {
  width: 16px;
  color: #212529;
  padding: 3px;
  fill: #212529;
}
h1 {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 3px;
  letter-spacing: 1px;
  word-spacing: 2px;
  
}
.p1,
.p2,
.p3 {
  font-size: 62px;
  font-weight: 900;
  word-spacing: 12px;
  line-height: 64px;
  letter-spacing: 1px;
}
.p3{
  margin-bottom: 50px;
}
.p4,.p5{
  font-size: 16px;
  margin-bottom: 8px;
}

.btn-book {
 border: none;
  background-color:#1864ab ;
  color:#f8f9fa;
  padding: 10px 15px;
  margin-top: 23px;
  cursor: pointer;
}
.btn-book:hover{
  background-color: #63e6be;
  color: #212529;
}

/*right container*/
.right-container {
  background-color: #63e6be;
  border-radius: 0 30px 30px 0;
  position: relative;
}


.contact-num-book{
  display: flex;
  align-items: center;
  font-weight:500;
  margin:30px 50px 60px 120px;
  
}

.btn-book-now{
  padding: 10px 20px;
  margin-left: 30px;
  border: #212529 solid 2px;
  font-weight: bold;
  background-color: #63e6be;
}
.btn-book-now:hover{
  background-color:#1864ab;
  color: #f8f9fa;

}
.main-photo-doctor{
  position: absolute;
  bottom: 0px;
  left: -245px;
}

.happy-people-box{
  display: flex;
  position: absolute;
  bottom: 225px;
  right: 160px;
  padding: 15px;
  background-color: #f8f9fa;
}
.smile-logo{
  display: flex;
  width: 42px;
  fill:#1864ab ;
  padding: 3px;
  color:#63e6be;
  background-color:#63e6be;
  margin-right: 24px;
}

.happy-people-num{
  font-size: 30px;
  font-weight:700;
}
.happy-people-string{
font-weight: 700;
}