/* 


----font size---

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
144 / 160 / 192 / 224 / 256 / 320 / 384 / 448 / 512 / 640 / 768

----spacing----

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
160 / 192 / 224 / 256 / 320 / 384 / 448 / 512 / 640 / 768 / 896 / 1024

---- colors----

primary color: #63e6be    secondary color: #1864ab

dark-green: #59cfab
light-green: #92eed2

dark-blue: #135089
light-blue:#74a2cd

tertiary color: #fafafa
text: #141414




---- margins left and right----

big margin:
medium margin: 19.2rem
small margin: 8rem

----margins bottom----

section margin:
h2 margin: 

----spacing---
smaller:2.4
small: 4.8rem
big: 5.2rem


----text sizing ----
smaller 1.6rem
small: 1.8rem
h4: 6.2rem


----icon sizing ----

big: 6.2rem
medium:2.4rem



*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "roboto", sans-serif;
  color: #141414;
}

/* ---- RE-USE GRIDS  */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* ---- MARGINS ---- */

.small-padding {
  padding: 0 8rem;
}
.medium-padding {
  padding: 0 19.2rem;
}
.big-margin {
}
.terniary-tittle {
}

/* ---- FLOOTING CICLES ---- */
.cicle {
  border-top-left-radius: 100%;
  border-top: 5px solid #135089;
  border-left: 5px solid #135089;
  background-color: #92eed2;
  position: absolute;
  bottom: 0;
  right: 0;
}
.cicle--small {
  width: 15rem;
  height: 15rem;
}
.cicle--medium {
  width: 20rem;
  height: 20rem;
}
.cicle--big {
  width: 25rem;
  height: 25rem;
}