/*/////////////////////////////////////////*/
/*------------   HERO  ---------------   */
/*/////////////////////////////////////////*/

.section-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 9rem 1fr;
  position: relative;
  height: 60rem;
}
.hero-tittle-main{
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.4rem;
  
}
.phone-book-main{
  background-color: #92eed2;
  grid-row: 2/3;
  grid-column: 4/6;
  position: relative;
}
.logo-name-box {
  display: flex;
  align-items: center;
}
.heart-icon {
  color: #92eed2;
}
.company-name {
  font-size: 4.4rem;
  font-weight: 700;
}
.nav {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #141414;
  font-size: 1.4rem;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
  color: #92eed2;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
  padding: 0 2.4rem;
  position: relative;

}
.open-close-btns{
  display: flex;
}

.hero-tittle-box {
  width: 50rem;
}
.hero-tittle-box div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.hero-tittle-box h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}
.primary-tittle {
  font-size: 4.4rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  margin-bottom: 2.4rem;
}
.hero-tittle-box p {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.hero-tittle-box button {
  margin-top: 1.6rem;
  background: none;
  border: none;
}


.btn-phone:link,
.btn-phone:visited {
  text-decoration: none;
  color: #141414;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 12rem;
}
.btn-phone:hover,
.btn-phone:visited {
  color: #12187d;
  text-decoration: underline;
}
.btn-green:link,
.btn-green:visited {
  font-weight: 500;
  color: #141414;
  background-color: #92eed2;
  border: 1px solid #141414;
}
.btn-green:hover,
.btn-green:active {
  text-decoration: underline;
  color: #fafafa;
  background-color: #12187d;
}
.btn-mobile-nav{
  border: none;
  background: none;
  width: 3rem;
  height: 3rem;
  display: none;
}
.icon-mobile-nav[name="close-icon"]{
  display:none;
  
}


/************* FOOTING BOXES ***************/
.doctor-img {
  width: 80%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 60%;
}

.happy-box {
  display: flex;
  gap: 2.4rem;
  background-color: #fafafa;
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  right: 13%;
  z-index: 1;
}
.icon-box {
  display: flex;
  padding: 0.2rem;
  background-color: #92eed2;
}
.happy-icon {
  fill: #12187d;
  stroke: #12187d;
}
.happy-numbers-box {
  display: flex;
  flex-direction: column;
}
.pacients-number {
  font-size: 3rem;
  font-weight: 700;
}

.happy-patients {
  font-size: 1.4rem;
  font-weight: 500;
}

/*/////////////////////////////////////////*/
/* ----------    FEATURES    ----------  */
/*/////////////////////////////////////////*/

.section-features {
  background-color: #12187d;
  position: relative;
  overflow: hidden;
}
.feature-main-box {
  margin-bottom: 0 !important;
}
.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 1.6rem;
  padding: 2rem;
  transition: all 0.3s;
  margin: 3.2rem 0;
}
.feature-box:hover,
.feature-box:active {
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.5rem);
}

.feature-box h4 {
  font-size: 1.6rem;
  color: #fafafa;
  
}
.feature-box p {
  font-size: 1.4rem;
  color: #a0b5f1;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
}
.feature-icon-box {
  background-color: #92eed2;
  padding: 2rem 0.5rem;
}

/*/////////////////////////////////////////*/
/* ----------    SERVICES    ----------  */
/*/////////////////////////////////////////*/

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 3.2rem;
  border: 3px solid #fbefef;
  transition: all 0.3s;
}
.service-box:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.15);
}
.service-icon-box {
  display: inline-block;
  padding: 1rem;
  border-radius: 100%;
  background-color: #fbefef;
  fill: #59cfab;
  margin-bottom: 2.4rem;
}
.service-box p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.service-link:link,
.service-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #12187d;
}
.service-link:hover,
.service-link:active {
  text-decoration: underline;
  color: #92eed2;
}

/*/////////////////////////////////////////*/
/* ----------    VIDEO   ----------  */
/*/////////////////////////////////////////*/

.section-video {
  background-color: #defaf2;
  padding-bottom: 6.4rem;
  position: relative;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80rem;
  height: 40rem;
  background-image: linear-gradient(
      rgba(18, 23, 125, 0.3),
      rgba(18, 23, 125, 0.3)
    ),
    url(../img/video-doctor.jpg);
  background-position: center;
  background-size: cover;
}
.video:hover {
  background-image: linear-gradient(
      rgba(18, 23, 125, 0.2),
      rgba(18, 23, 125, 0.2)
    ),
    url(../img/video-doctor.jpg);
}
.video-icon-box {
  display: flex;
  padding: 1rem;
  border-radius: 100%;
  background-color: #fafafa;
  fill: #fafafa;
  transition: all 0.3s;
}
.video-icon-box:hover {
  transform: scale(1.03);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.8);
}
.video-icon-box:active {
  transform: scale(1);
}

/*/////////////////////////////////////////*/
/* ----------    ABOUT   ----------  */
/*/////////////////////////////////////////*/


.about-main-box {
  width: 85rem;
  margin: 9.5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40rem 20rem;
  gap: 9.6rem;
  overflow: hidden;
}

.ternary-tittle-about {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #43418b;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}
.secondary-tittle-about {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
  line-height: 0.9;
}
.about-paragraf {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.about-btns-book-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  justify-content: center;
}

.about-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #12187d;
  grid-column: 1/3;
  padding: 0 25rem;
  position: relative;
  overflow: hidden;
}
.tittle-color-white {
  color: #fafafa;
  text-align: center;
}

/************* FOOTING ABOUT  CICLES ***************/

.cicle-big {
  width: 25rem;
  height: 25rem;
}
.cicle-small {
  width: 18rem;
  height: 18rem;
}
.cicle-about-box-top {
  border-bottom-left-radius: 100%;
  border-bottom: 3px solid #43418b;
  border-left: 3px solid #43418b;
  position: absolute;
  top: 0;
  right: 0;
}
.cicle-about-box-bottom {
  border-top-right-radius: 100%;
  border-top: 3px solid #43418b;
  border-right: 3px solid #43418b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.left-bottom {
  transform: translate(-30%, 30%);
}
.right-top {
  transform: translate(30%, -30%);
}

/*/////////////////////////////////////////*/
/* ----------    ARTICLES   ----------  */
/*/////////////////////////////////////////*/

.article-main{
  margin-bottom: 0 !important;
}
.article-box {
  border: 3px solid #fbefef;
}
.article-img {
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  height: auto;
  display: block;
}
.article-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.article-text h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #43418b;
}
.article-text h2 {
  font-size: 1.6rem;
  font-weight: 700;
}
.article-link:link,
.article-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #43418b;
}
.article-link:hover,
.article-link:active {
  text-decoration: underline;
  color: #12187d;
}

/*/////////////////////////////////////////*/
/* ----------    tESTIMONIALS  ----------  */
/*/////////////////////////////////////////*/

.testimonials-main-box {
  width: 85rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin-bottom: 2.4rem;
}

.testimonials-box span {
  font-size: 5.2rem;
  font-family: "catamaran";
  line-height: 0.7;
}
.testimonials-box span:first-child {
  margin-top: 8rem;
}
.testimonial-text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0 6rem 4rem 0;
}
.testimonial-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.testimonial-city {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
.arrows-box {
  display: flex;
  gap: 1rem;
  align-self: center;
  margin-bottom: 6.4rem;
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #141414;
  background: none;
  cursor: pointer;
}
.arrows:hover svg {
  background-color: #12187d;
  color: #fafafa;
}

/*/////////////////////////////////////////*/
/* ----------    CTA     ----------  */
/*/////////////////////////////////////////*/

.section-cta {
  background-color: #defaf2;
  position: relative;
}
.cta-main-box {
  margin-bottom: 6.4rem;
}
.cta-contact-ways {
  display: flex;
  gap: 15rem;
  margin-bottom: 4.8rem;
}
.contact-box {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.cta-icon-box {
  padding: 1rem;
  background-color: #43418b;
}
.contact-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.contact-link:link,
.contact-link:visited {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #141414;
}
.contact-link:hover,
.contact-link:active {
  text-decoration: underline;
  color: #12187d;
}
.form-box {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  padding: 2rem;
  gap: 2rem;
}
*:focus {
  outline: none;
  /* outline: 4px dotted pink;
outline-offset: 6px; */
  box-shadow: 0 0 0 0.8rem rgba(251, 239, 239, 0.5);
}
.input-form {
  background-color: #fafafa;
  border: 2px solid #fbefef;
  width: 30rem;
  padding: 2rem 1rem;
}
.input-message {
  width: 100%;
  grid-column: 1/3;
  grid-row: 3/5;
}
.btn-form {
  width: 20rem;
  justify-self: center;
  grid-column: 1/3;
  border: none;
  background-color: #12187d;
  color: #fafafa;
  cursor: pointer;
}
.btn-form:hover {
  background-color: #59cfab;
  color: #141414;
  text-decoration: underline;
}

/*/////////////////////////////////////////*/
/* ----------    FOOTER    ----------  */
/*/////////////////////////////////////////*/

.section-footer {
  background-color: #12187d;
}

.main-footer-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6rem;
  align-items: center;
  margin: 4.8rem 9.6rem;
  color: #74a2cd;
}
.logos-col {
  grid-column: 1/3;
}
.logos-col p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.footer-name-company-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.4rem;
}
.footer-company-name {
  font-size: 4.4rem;
  font-weight: 700;
  color: #fafafa;
}

.footer-social-logos-box {
  display: flex;
  gap: 6.4rem;
  list-style: none;
}
.footer-col-tittle {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.4rem;
}

.footer-links li a:link,
.footer-links li a:visited {
  text-decoration: none;
  color: inherit;
}
.footer-links li a:hover,
.footer-links li a:active {
  text-decoration: underline;
  color: #fafafa;
}
.copyright-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1.4rem 6.4rem;
  background-color: #59cfab;
  font-size: 1.4rem;
  color: #141414;
}
