/*/////////////////////////////////////////*/
/*    HERO   */
/*/////////////////////////////////////////*/

/************* LEFT-BOX ***************/
.section-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15% 85%;
  height: 100vh;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-left: 8rem;
  background-color: #fafafa;
  grid-column: 1/4;
}
.logo-name-box {
  display: flex;
  align-items: center;
  margin-right: 7.4rem;
}
.heart-icon {
  width: 6.2rem;
  height: 6.2rem;
  color: #59cfab;
}
.company-name {
  font-size: 4.4rem;
  font-weight: 700;
}
.nav {
  list-style: none;
  display: flex;
  gap: 4.4rem;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #141414;
  font-size: 1.6rem;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
  color: #59cfab;
}
.hero-tittle-box {
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
  align-items: start;
  justify-content: center;
  background-color: #fafafa;
}
.hero-tittle-box div {
  display: flex;
  align-items: center;
}
.star-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.hero-tittle-box h4 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}
.primary-tittle {
  font-size: 6.2rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  margin-bottom: 2.4rem;
}
.hero-tittle-box p {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.hero-tittle-box button{
  margin-top: 2.4rem;
  background: none;
  border: none;
}
.btn-book--2:link,
.btn-book--2:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: #fafafa;
  background-color: #135089;
}
.btn-book--2:hover,
.btn-book--2:active{
  background-color: #92eed2;
  color: #141414;
  text-decoration: underline;
} 

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
144 / 160 / 192 / 224 / 256 / 320 / 384 / 448 / 512 / 640 / 768 */

/************* RIGHT BOX ***************/
.phone-book-box {
  display: flex;
  grid-column: 4/6;
  grid-row: 1/2;
  align-items: center;
  gap: 4.4rem;
  justify-content: end;
  padding-right: 8rem;
  background-color: #92eed2;
}
.phone-book-box button{
  background-color: none;
  border: 1px solid #141414;
}

.btn-book--1:link,
.btn-book--1:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #141414;
  background-color: #92eed2;
}
.btn-book--1:hover,
.btn-book--1:active {
  text-decoration: underline;
  color: #fafafa;
  background-color: #135089;
}
.btn-phone:link,
.btn-phone:visited {
  text-decoration: none;
  color: #141414;
  font-size: 1.6rem;
  font-weight: 500;
}
.btn-phone:hover,
.btn-phone:visited {
  color: #135089;
  text-decoration: underline;
}
