/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.main-box {
  width: 80rem;
  margin: 10rem auto;
  font-family: "Pt sans", sans-serif;
  border: 1px solid black;
}
.primary-box {
  margin: 4.6rem 0 3.2rem 3.2rem;
  font-family: "Poppins", sans-serif;
}
.primary-tittle-box {
  height: 8.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 1rem;
}
.primary-tittle-box h1 {
  font-size: 7.4rem;
}
.primary-tittle-box span {
  font-size: 16rem;
  font-weight: 500;
  color: orangered;
}
.primary-box p {
  text-transform: uppercase;
  font-size: 1.6rem;

  font-weight: 600;
}

.secondary-box {
  color: aqua;
  margin-bottom: 3.2rem;
  line-height: 0.9;
  text-align: center;
}

.central-heading--1 {
  font-size: 4.8rem;
}
.central-heading--2 {
  font-size: 6.4rem;
}
.central-heading--3 {
  font-size: 3.2rem;
}
.img-box div {
  content: "";
  background-position: center;
  background-size: cover;
  /* filter: brightness(0);
  opacity: 50%; */
}

.img-1 {
  width: 22rem;
  height: 18rem;
  background-image: linear-gradient(
      rgba(255, 68, 0, 0.3),
      rgba(255, 68, 0, 0.3)
    ),
    url("img/potrait-1.jpg");
  border-radius: 50%;
}
.img-2 {
  width: 16rem;
  height: 14rem;
  background-image: linear-gradient(
      rgba(112, 153, 219, 0.5),
      rgba(112, 153, 219, 0.5)
    ),
    url("img/potrait-2.jpg");
  border-radius: 50%;
}
.img-3 {
  width: 22rem;
  height: 14rem;
  background-image: linear-gradient(
      rgba(207, 234, 87, 0.5),
      rgba(207, 234, 87, 0.5)
    ),
    url("img/potrait-3.jpg");
  border-radius: 30px;
}
.img-4 {
  width: 26rem;
  height: 18rem;
  background-image: linear-gradient(
      rgba(9, 149, 224, 0.5),
      rgba(9, 149, 224, 0.5)
    ),
    url("img/potrait-4.jpg");
  border-radius: 30px;
}
.img-5 {
  width: 20rem;
  height: 16rem;
  background-image: linear-gradient(
      rgba(211, 180, 27, 0.521),
      rgba(211, 180, 27, 0.521)
    ),
    url("img/potrait-5.jpg");
  border-radius: 50%;
}
.text-1 {
  color: aqua;
  font-size: 3rem;
  line-height: 0.9;
  display: inline-block;
  padding: 1.2rem;
}
